.App-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(245, 245, 245, 0.757);
  margin: auto;
  padding: 10px;
}

.Bienvenidos {
  text-align: center;
}

h2,
h3,
p {
  line-height: 30px;
}

h2 {
  color: hsla(125, 17%, 28%);
}

.Novedades {
  text-align: center;
}

.boton {
  background-color: hsla(125, 17%, 28%);
}

.boton:hover {
  background-color: rgba(217, 197, 145, 0.262);
}

.Card {
  display: flex;
  justify-content: center;
  align-items: center;
  background: whitesmoke;
  border: 2px solid hsla(125, 17%, 28%);
  border-radius: 10px;
}

.Card:hover {
  background-color: rgba(217, 197, 145, 0.262);
}