header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsla(125, 17%, 28%);
  height: 250px;
  width: 100%;
  font-size: calc(10px + 2vmin);
  color: white;
  margin-bottom: 20px;
  padding-top: 15px;
}

.holder {
  text-align: center;
}

h1, header h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: 100;
}

h1 {
  font-size: 50px;
}

header h3 {
  font-size: 15px;
}