nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

nav ul li {
  margin: 0;
  display: flex;
  align-items: center;
  padding: 3px 6px;
}

a:link:hover {
  background-color: rgba(217, 197, 145, 0.262);
  border-radius: 5px;
  padding: 5px;
}

a:link {
  text-decoration: none;
  color: black;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 500; 
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
  margin-bottom: 30px;
  padding: 5px;
  background-color: rgba(245, 245, 245, 0.757);
}
